.modal {
  @include flex(center, center, row);
  background-color: rgba(38, 38, 38, 0.7);
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  inset: 0px;
  z-index: 50;
  outline: none;

  &:focus {
    outline: none;
  }

  > div {
    position: relative;
    width: 80%;
    margin: 1.5rem auto;
    height: auto;

    @media (min-width: 768px) {
      width: 66.666667%;
    }
    @media (min-width: 1124px) {
      width: 50%;
    }
    @media (min-width: 1280px) {
      width: 40%;
    }

    > div {
      transition-duration: 300ms;
      height: 100%;

      > div {
        height: 100%;
        border: 0;
        position: relative;
        box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
          0 4px 6px -4px rgb(0 0 0 / 0.1);
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: white;
        outline: none;

        &:focus {
          outline: none;
        }

        @media (min-width: 768px) {
          height: auto;
        }
        @media (min-width: 1124px) {
          height: auto;
        }
      }
    }
  }

  .header {
    @include flex(center, center, row);
    position: relative;
    padding: 1.5rem;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    border-bottom: 1px solid #b8b8b8;

    button {
      @include transition;
      padding: 0.25rem;
      border: 0px;
      position: absolute;
      left: 2.25rem;

      &:hover {
        opacity: 0.7;
      }
    }
  }

  .title {
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 600;
  }

  .body {
    position: relative;
    padding: 1.5rem;
    flex: 1 1 auto;
  }

  .footer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1.5rem;

    > div {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1rem;
      width: 100%;
    }
    button {
      @include transition;
      width: 100%;
      position: relative;
      border-radius: 0.5rem;
      display: flex;
      justify-content: center;
      gap: 0.75rem;

      &:disabled {
        opacity: 0.7;
        cursor: not-allowed;
      }

      &:hover {
        opacity: 0.8;
      }

      .icon {
        position: absolute;
        left: 1rem;
        top: 0.75rem;
      }
    }
  }
}

.modal-active {
  transform: translateY(0px);
  opacity: 1;
}

.modal-disabled {
  transform: translateY(100%);
  opacity: 0;
}

.outline {
  background-color: white;
  border: 1px solid #000;
  color: #000;
}

.no-outline {
  background-color: rgb(244 63 94);
  border: 1px solid rgb(244 63 94);
  color: white;
}

.small {
  padding: 0.25rem 0;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 300;
  border: 1px solid #b8b8b8;
}

.not-small {
  padding: 0.75rem 0;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 600;
  border: 2px solid #b8b8b8;
}

// Register Modal

.register {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.center {
  text-align: center;
}

.not-center {
  text-align: start;
}

.register-title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}

.register-subtitle {
  font-weight: 700;
  color: rgb(115 115 115);
  margin-top: 0.5rem;
}

.register-input {
  width: 100%;
  position: relative;

  svg {
    color: rgb(64 64 64);
    position: absolute;
    top: 1.25rem;
    left: 0.5rem;
  }

  input {
    padding: 1rem;
    padding-top: 1.5rem;
    background-color: #ffffff;
    transition-property: all;
    transition-duration: 300ms;
    font-weight: 300;
    width: 100%;
    border-radius: 0.375rem;
    border: 2px solid #b8b8b8;
    outline: 0;
    padding-left: 5.5rem;

    &:disabled {
      opacity: 0.7;
      cursor: not-allowed;
    }

    &:focus {
      padding-left: 1rem;
    }

    &:focus + label {
      scale: 0.8;
      top: 1px;
      background-color: #ffffff;
      padding: 0 2px;
    }
  }

  label {
    position: absolute;
    top: 2.5rem;
    z-index: 10;
    transition-duration: 150ms;
    transform: translateY(-1rem);
    font-size: 1rem;
    line-height: 1.5rem;
    transform-origin: 0;
  }
}

.input-error {
  border: 2px solid rgb(239 68 68) !important;

  &:focus {
    border: 2px solid rgb(239 68 68);
  }
}

.no-input-error {
  border: 2px solid rgb(212 212 212);

  &:focus {
    border-color: 2px solid #000;
  }
}

.format-price {
  padding-left: 2.25rem;
}

.no-format-price {
  padding-left: 1rem;
}

.label-format {
  left: 2.25rem;
}

.no-label-format {
  left: 1rem;
}

.label-error {
  color: rgb(239 68 68);
}

.no-label-error {
  color: rgb(161 161 170);
}
